/* grid-item
------------------------- */

.grid-item {
  width: 20%;
  
  float: left;
  background: #99CCFF;
  border: 0px solid #EEDDBB;

  border-radius: 10px;
  padding: 10px 1%;
  margin: 20px 0px 0;
}
.grid-item img{
  width: 100%;
}

/* -------------BTN---------------- */
.btn-new-article{color:#fff;background-color:#DD2266;border-color:#DD2266}